<md-dialog aria-label="Add Task">
	<form ng-submit="dialogCtrl.addNewDevice()" ng-cloak>
		<md-toolbar>
		   <div class="md-toolbar-tools">
	        <h2>Add Device</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>

		<md-dialog-content layout-padding>
		<div class="md-dialog-content">
			<h3>Please enter the detailed information for the Device</h3>
			<span flex></span>	
			<md-input-container class="md-block">
				<label>Device Name</label>
				<input ng-model="dialogCtrl.devicename" required>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Serial Number</label>
				<md-select ng-model="unregisteredDevice" ng-change='dialogCtrl.select_Serial(unregisteredDevice)'>
					<md-option ng-repeat="unregisteredDevice in dialogCtrl.unregisteredDevices" value="{{unregisteredDevice}}">
					{{unregisteredDevice.serial}}
					</md-option>
				</md-select>
			</md-input-container>
    	</md-dialog-content>


		<md-dialog-actions layout="row">
		  <span flex></span>
		  <md-button ng-click="dialogCtrl.cancel()">
		    Cancel
		  </md-button>
		  <md-button type="submit">
		    Add Device
		  </md-button>
		</md-dialog-actions>
  </form>
</md-dialog>