<div class="container">
	<h2>This is the mqtt data view.</h2>
	<div layout="row" layout-align="end center">
		<md-button type="button" class="md-raised btn-danger" ng-click='mqttCtrl.clean()'>Clean</md-button>
	</div>
	<table class="table">
		<thead>
	        <tr>
	            <th>Device</th>
	            <th>Port</th>
	            <th>Value</th>
	            <th>Date</th>
	       	</tr>
	    </thead>
	    <tbody>
	    	<tr ng-repeat="data in mqttCtrl.sensorData">
	    		<td>{{data.device}}</td>
	    		<td>{{data.port}}</td>
	    		<td>{{data.value}}</td>
	    		<td>{{data.date}}</td>
	    	</tr>
	    </tbody>
	</table>
</div>
