<div class="container">
	<h2>This is the mqtt data view.</h2>
	<div layout="row" layout-align="end center">
		<button type="button" class="btn btn-danger" ng-click='mqttCtrl.clean()'>Clean</button>
	</div>
	<table class="table">
		<thead>
	        <tr>
	            <th>Sensor</th>
	            <th>Port</th>
	            <th>Value</th>
	            <th>Date</th>
	       	</tr>
	    </thead>
	    <tbody>
	    	<tr ng-repeat="data in mqttCtrl.sensorData">
	    		<td>{{data.sensor}}</td>
	    		<td>{{data.port}}</td>
	    		<td>{{data.value}}</td>
	    		<td>{{data.date}}</td>
	    	</tr>
	    </tbody>
	</table>
</div>
