<div class="container">
	<h2>Add New Task</h2>
	<div layout="row" layout-align="end center">
		<md-button class="md-raised md-primary"  ng-click='taskCtrl.setNewTask($event)'>Add New Task</md-button>
	</div>
	<b layout="row" layout-align="center center" class="md-padding">
      {{taskCtrl.message}}
    </b>
    <table class="table">
	    <thead>
	        <tr>
	            <th>Task Name</th>
	            <th>Sensor Name</th>
	            <th>Port</th>
	            <th>Frequency</th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	    	<tr ng-repeat="sensorConfig in taskCtrl.sensorConfigs">
	    		<td>{{sensorConfig.taskname}}</td>
	    		<td>{{sensorConfig.sensor}}</td>
	    		<td>{{sensorConfig.port}}</td>
	    		<td>{{sensorConfig.frequency}}</td>
	    		<td>
	    			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
	<!-- 		    		<div class="btn-group">
						  <button type="button" class="btn btn-primary" ng-click='taskCtrl.startTask(sensorConfig)'>Start</button>
						  <button type="button" class="btn btn-primary" ng-click='taskCtrl.stopTask(sensorConfig)'>Stop</button>
						</div> -->
						<md-button class="md-raised md-primary" ng-click='taskCtrl.startTask(sensorConfig)' ng-if='sensorConfig.status === "start"'>Start</md-button>
						<md-button class="md-raised md-primary" ng-click='taskCtrl.stopTask(sensorConfig)' ng-if='sensorConfig.status === "stop"'>Stop</md-button>

						<md-button class="md-raised md-primary" ng-click='taskCtrl.updateTask(sensorConfig)'>Reset</md-button>
			    		<md-button class="md-raised md-warn" ng-click='taskCtrl.deleteTask(sensorConfig)'>Delete</md-button>
		    		</section>
	    		</td>
	    	</tr>
	    </tbody>
	</table>

</div>
